# Framework
Django==6.0.5
asgiref==3.11.1
sqlparse==0.5.5
tzdata==2026.2

# API REST + autenticación JWT
djangorestframework==3.17.1
djangorestframework-simplejwt==5.5.1
PyJWT==2.13.0
django-cors-headers==4.9.0

# Imágenes (fotos de recetas / logos)
pillow==12.2.0

# Producción
gunicorn==26.0.0
whitenoise==6.12.0
dj-database-url==3.1.2
psycopg[binary]==3.3.4
python-dotenv==1.2.2

# Almacenamiento de archivos en Cloudflare R2 (S3-compatible)
django-storages==1.14.6
boto3==1.43.39
